@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  min-height: 100vh;  
  width: 100%;
}
.question{
  letter-spacing: 2px;
}
.answer:hover, .answer.active{
  background-color: #9e0b9e;
}
.answer.correct{
  animation: correct 2s ease forwards;
  -webkit-animation: correct 2s ease forwards;
}
.answer.wrong{
  animation: wrong 2s ease forwards;
  -webkit-animation: wrong 2s ease forwards;
}
@keyframes correct {
  0%, 10%, 30%, 50%, 70%, 90%{
    background-color: #9e0b9e;
  }
  20%, 40%, 60%, 80%{
    background-color: #6b21a8;
  }
  100%{
    background-color: #16a34a;
  }
}

@keyframes wrong {
  0%, 10%, 30%, 50%, 70%, 90%{
    background-color: #9e0b9e;
  }
  20%, 40%, 60%, 80%{
    background-color: #6b21a8;
  }
  100%{
    background-color: #c71010;
  }
}